body 
  {
     color: red;
    font-family: verdana;
    font-size: 150%;
    background-image: url("https://i.pinimg.com/originals/19/16/8e/19168eb68226a77cd4bd02e14c79345a.png");
  }
.box {height:150px; border:1px solid;}
