body 
  {
     color: red;
    font-family: verdana;
    font-size: 150%;
    background-image: url("https://banner2.kisspng.com/20180414/rgq/kisspng-dangerous-goods-placard-hazmat-class-8-corrosive-s-firefighter-5ad223b5cd4218.4662179515237211418407.jpg");
  }
